*{
  box-sizing: border-box;
}

.container{
  width: 100%;
  /* max-width: 1140px; */
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  }

  .main-link{
    background-color: #DE2E54;
    color: #ffffff;
    padding: 12px 24px;
    font-family: "Open sans condensed", "Arial", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 23px;
    transition: 0.8 ease;
    display: inline-block;
    }

    .main-link:hover{
      opacity: 0.8;
    }

body{
  padding: 0;
  margin: 0;
  color:#222222 ;
  font-size: 16px;
  line-height: 1.5;
   font-family: "Open sans", "Arial", sans-serif;
  background-color: #fff;
  letter-spacing: 0.5px;
}
.site-header{
background-color: #ffffff;
padding-top: 16px;
padding-bottom: 16px;
}


.site-header-container{
  display: flex;
  justify-content: space-between;
 align-items: center;
}

.site-header-actions{
  display: flex;
 align-items: center;
}


.sitenav-link{
font-weight: 50;
font-style: bold;
font-size: 14px;
line-height: 12px;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
color: #222222;
}

.sitenav-list{
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
}

.sitenav-item{
margin-right: 32px;
}

.sitenav-item:last-child{
  margin-right: 0;
}


.sitenav-link{
  margin-right: 23px;
  transition: 0.4s ease, opacity 0.3s ease;
}

.sitenav-link:hover{
color: #DE2E54;
opacity: 0.6;
}

.sitenav-link:active{
  opacity: 0.6;
}

.logo-link{
  transition: 0.6 ease;
}
.logo-link:hover{
  opacity: 0.6;
}
.logo-link:active{
  opacity: 0.6;
}

.hero{
padding-top: 80px;
padding-bottom: 80px;
background-color:#0EB4C1 ;
color: #ffffff;
border: 2px solid #000000;
}

.hero-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content{
   width: 390px;
}

.hero-img{
height: 423px;
width: 503px;
}

.hero-heading{
margin-top: 0;
font-size:26px;
margin-bottom: 18px;
line-height: 1.2;
font-family:"Open Sans Condensed","Arial", sans-serif
}

.hero-text{
margin-top: 0;
font-size: 16px;
line-height: 27px;
display: flex;
list-style-type: none ;

}
.container{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feature-heading{
font-size: 24px;
line-height: 1.2;
padding-bottom: none;
padding-left: 40px;
margin-bottom: none;
}

.feature-icon-wrapper{
  display: flex;
}


.features-heading{
display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none ;
}

.feature-info{
margin-top: 70px;
padding-right: 1000px;
}

.feature-link{
display: flex;
  justify-content: space-between;
  background-color: #DE2E54;
  color: #ffffff;
   padding: 12px 24px;
  font-family: "Open sans condensed", "Arial", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 100px;
  margin-left: 850px;
  transition: 0.8 ease;
 display: inline-block;
}

.promo{
  border: 2px solid #0EB4C1;
  background-color: #0EB4C1;
  color: #ffffff;
}

.promo-item{
  padding-top: 50px;
    display: flex;
  justify-content: center;
  align-items: center;
 font-size: 16px;
 line-height: 26px;
  }

.promo-link{
display: flex;
justify-content: space-evenly;
align-items: center;
}

.promo-link:hover{
  color: #fff;
  opacity: 0.6;
}

.promo-link:active{
  opacity: 0.6;
}

 .promo-text{
margin-left: 450px ;
  padding: 12px 24px;
border:2px solid #ffffff ;
border-radius:3px ;
}

.promo-text:hover{
  background-color: #DE2E54;
  opacity: 0.6;
}

 .promo-text2{
  border:2px solid #ffffff ;
border-radius:3px ;
padding: 12px 24px;
margin-right: 450px ;
}

.promo-text2:hover{
  background-color: #DE2E54;
  opacity: 0.6;
}